.root-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item > * {
    margin: none;
}

.form-item > label {
    font-weight: bolder;
    margin-top: 10px;
}

.form-item > input {
    margin-bottom: 10px;
    font-weight: bolder;
    color: black;
    width: fit-content;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: solid 2px transparent;
    margin: 5px 0 15px;
    transition: 0.25s;
}

.form-item > input:hover, input:focus {
    outline-color: black;
}

form > button {
    font-weight: bolder;
    color: black;
    width: fit-content;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    outline: solid 2px transparent;
    margin: 15px auto;
    transition: 0.25s;
}

form > button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

form > button:active {
    border-color: white;
    outline-color: black;
}

form > button:focus {
    outline-color: black;
}

span {
    margin-top: 10px;
    text-align: center;
    color: #333;
}

#errorMessage {
    color: white;
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
}
