:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.root-container {
    margin: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: '#AFAFAF';
}

.hidden {
    display: none!important;
}

.no-show {
    visibility: hidden;
}

.read-more {
    height: fit-content;
    z-index: inherit;
}

.read-more * {
    display: inline;
    z-index: inherit;
}

.read-more button {
    font-weight: bolder;
    /* Reset styling */
    font-size: 1rem;
    font-family: inherit;
    background-color: transparent;
    color: inherit;
    padding: 0;
    border: none;
    margin: 0;
}

.read-more button:hover {
    text-decoration: underline 1px;
}
