:root {
    font-size: 16px;
}

body {
    margin: 0;
}

.root-container {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: '#AFAFAF';
}

h1 {
    color: green;
}