.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Banner */

.channel-banner {
    display: block;
    width: calc(100% - 16rem);
    height: fit-content;
    margin: 1rem auto 1rem;
    color: #111;
}

.channel-banner > img {
    background-color: #000;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 25px;
}

.channel-banner #profile-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: start;
    width: calc(100% - 1rem);
    height: fit-content;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 0.5rem;
    position: relative;
}

.channel-banner #profile-info > img {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #000;
    border-radius: 100%;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.channel-banner #profile-info * {
    margin: 0;
}

.channel-banner #profile-info > div {
    height: fit-content;
}

.channel-banner #profile-info h1 {
    font-size: 2.5rem;
}

.channel-banner .channel-info {
    margin: 0;
    height: fit-content;
}

.channel-banner .channel-info span::before {
    display: inline;
    content: " • ";
}

.channel-banner .channel-info :first-child {
    font-weight: bolder;
}

.channel-banner .channel-info :first-child::before {
    display: none;
}

.channel-banner .channel-description-container {
    max-width: 80%;
    height: fit-content;
    z-index: 5;
}

.channel-banner .channel-description {
    max-width: 100%;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* Feed container */

.feed-container {
    width: 200vw;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.feed-container.videos {
    left: 0vw;
}

.feed-container.shorts {
    left: -100vw;
}

.feed-selector {
    margin: 0.5rem auto 1.5rem;
}

.feed-selector a {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: normal;
}

.feed-selector a.active {
    font-weight: bolder;
}

.channel-banner #subscribe-button {
    width: 10rem;
    height: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.1s;
}

.channel-banner #subscribe-button.subscribe {
    background-color: #202020;
    color: white;
}

.channel-banner #subscribe-button.subscribed {
    background-color: #909090;
    color: black;
}

/* Videos */

#video-feed {
    width: 50%;
}

#video-feed > .page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    flex-flow: wrap;
    margin-bottom: 1rem;
    width: 100%;
}

.video-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 21rem;
    margin: 0.5rem;
    align-self: stretch;
    box-shadow: 0.5rem 0.5rem 0.25rem #0007, inset 0 0 0.25rem 0.125rem #0003;
}

.video-container p {
    margin-right: auto;
    margin-left: 0.5rem;
}

.video-container a {
    text-decoration: none;
}

.video-container h2 {
    margin: 0 0.5rem 1rem;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

.video-container h2:hover {
    text-decoration: underline;
}

.thumbnail-container {
    max-width: 21rem;
    max-height: 11.75rem;
    position: relative;
}

.thumbnail-container img {
    max-width: 100%;
    width: auto;
}

.thumbnail-container span {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #0007;
    color: #fff;
    font-weight: bolder;
}

/* Page Navigation */

.page-nav {
    margin: 1rem auto 2rem;
}

.page-nav * {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin: 0 0.25rem;
}
