.container {
    width: calc(100% -2rem);
    height: fit-content;
    padding: 1rem 1rem 0;
}

iframe {
    width: 80vw;
    height: 45vw;
    margin: 0 1rem 1rem 0;
    border-radius: 5px;
}

h1 {
    font-size: 1.5rem;
}

.info {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info > * {
    margin: 0;
    font-weight: bolder;
}

.info > *::before {
    display: inline;
    content: '•';
    margin: 0 0.25rem;
}

.info > :first-child::before {
    display: none;
    content: unset;
}

.info #subscribe-button {
    width: 10rem;
    height: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.1s;
}

.info #subscribe-button.subscribe {
    background-color: #202020;
    color: white;
}

.info #subscribe-button.subscribed {
    background-color: #909090;
    color: black;
}

.description {
    width: 60vw;
    height: fit-content;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.description * {
    display: inline;
    line-height: 1.25rem;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Comments */

.comment-box {
    margin-bottom: 2rem;
    border-bottom: #0001 solid 1px;
}

.comment, .reply {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
        "pin pin "
        "pfp name" 
        "pfp body" 
        "pfp info";
    margin-bottom: 1rem;
}

.reply {
    margin-left: 5rem;
}

.comments-section {
    padding-bottom: 2rem;
}

.comments-section h2 {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: #0001 solid 1px;
}

.comment-box img {
    max-width: fit-content;
    max-height: fit-content;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    grid-area: pfp;
    margin-right: 1rem;
}

.comment-box .comment-author {
    grid-area: name;
}

.comment-box .comment-author a {
    font-weight: bolder;
}

.comment-box .comment-author.by-uploader a {
    background-color: #0002;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
}

.comment-box .comment-author .author-verified {
    display: inline-block;
    background-color: #0002;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    text-align: center;
}

.comment-box p {
    grid-area: body;
    max-width: 60vw;
}

.comment-box .comment-info {
    grid-area: info;
}

.comment-info > * {
    display: inline;
    margin: 0;
    font-weight: bolder;
}

.comment-info > *::before {
    display: inline;
    content: '•';
    margin: 0 0.25rem;
}

.comment-info > :first-child::before {
    display: none;
    content: unset;
}

.comment-info .toggle-replies {
    background-color: #0002;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.pinned-by-uploader {
    background-color: #0002;
    margin: 0 0 1rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    grid-area: pin;
    width: fit-content;
}

.liked-by-uploader > span {
    background-color: #0002;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: lighter;
}
