{% extends "base.html" %}

{% block head %}
<title>yt - channel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/channel_overview.css') }}">
<script defer src="{{ url_for('static', filename='scripts/read_more.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/videos_or_shorts.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/subscribe_button.js') }}"></script>
{% endblock %}

{% block content %}
    {% include "top_bar_template.html" %}
    <div class="channel-banner">
        <img src="{{ channel_info.banner }}">
        <div id="profile-info">
            <img src="{{ channel_info.profile_pic }}">
            <div>
                <h1>{{ channel_info.title }}</h1>
                <p class="channel-info">
                    <span>{{ channel_info.handle }}</span>
                    <span>{{ channel_info.subscribers }} subscribers</span>
                    <span>{{ channel_info.num_videos }} videos</span>
                </p>
                <div class="channel-description-container">
                    <p class="channel-description read-more">{{ channel_info.description }}</p>
                </div>
            </div>
            {% if channel_info.is_subscribed %}
                <button id="subscribe-button" class="subscribed">Subscribed</button>
            {% else %}
                <button id="subscribe-button" class="subscribe">Subscribe</button>
            {% endif %}
        </div>
    </div>
    <div class="feed-selector">
        <span>
            <a id="videos" class="active">Videos</a> | <a id="shorts">Shorts</a>
        </span>
    </div>
    <div class="feed-container videos">
        <div class="video-feed">
            <div class="page">
            {% for video in videos %}
                <div class="video-container">
                    <a href="{{ url_for('main.video_page', video_id=video.video_id) }}" class="thumbnail-container">
                        <img src="{{ video.thumbnail }}" loading="lazy">
                        <span>{{ video.duration }}</span>
                    </a>
                    <p>{{ video.views }}</p>
                    <a href="{{ url_for('main.video_page', video_id=video.video_id) }}">
                        <h2>{{ video.title }}</h2>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="short-feed">
            <div class="page">
            {% for short in shorts %}
                <a href="{{ url_for('main.video_page', video_id=short.video_id) }}">
                    <div class="short-container">
                        <img src="{{ short.thumbnail }}" loading="lazy">
                        <div>
                            <h2>{{ short.title }}</h2>
                            <span>{{ short.views }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="page-nav">
        <a href="#">&lt</a>
        <a href="#">1</a>
        <a href="#">&gt</a>
    </div>
{% endblock %}
