{% extends "base.html" %}

{% block head %}
<title>yt - channel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/channel_overview.css') }}">
<script defer src="{{ url_for('static', filename='scripts/read_more.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/subscribe_button.js') }}"></script>


<script src="{{ url_for('static', filename='scripts/content_loader.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const channelVideosFirstPage = JSON.parse({{ channel_videos_first_page|tojson|safe }});
        const channelVideosHandler = new ChannelVideosHandler();

        channelVideosHandler.processPage(channelVideosFirstPage);
    });
</script>

{% endblock %}

{% block content %}
    {% include "top_bar_template.html" %}
    <div class="channel-banner">
        <img src="{{ channel_info.banner }}">
        <div id="profile-info">
            <img src="{{ channel_info.profile_pic }}">
            <div>
                <h1>{{ channel_info.title }}</h1>
                <p class="channel-info">
                    <span>{{ channel_info.handle }}</span>
                    <span>{{ channel_info.subscribers }} subscribers</span>
                    <span>{{ channel_info.num_videos }} videos</span>
                </p>
                <div class="channel-description-container">
                    <p class="channel-description read-more">{{ channel_info.description }}</p>
                </div>
            </div>
            {% if channel_info.is_subscribed %}
                <button id="subscribe-button" class="subscribed">Subscribed</button>
            {% else %}
                <button id="subscribe-button" class="subscribe">Subscribe</button>
            {% endif %}
        </div>
    </div>

    <div id="video-feed"></div>

    <div class="page-nav">
        <a id="previousPageButton" href="#" class="no-show">&lt</a>
        <a id="currentPageNum">1</a>
        <a id="nextPageButton" href="#">&gt</a>
    </div>
{% endblock %}
