{% extends "base.html" %}

{% block head %}
<title>yt - channel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/channel_overview.css') }}">
{% endblock %}

{% block content %}
    {% for video in videos %}
        <a href="?">
            <div class="video-container">
                <img src="{{ video.thumbnail }}" loading="lazy">
                <p>duration: {{ video.duration }}</p>
                <p>views: {{ video.views }}</p>
                <h2>{{ video.title }}</h2>
            </div>
        </a>
    {% endfor %}
{% endblock %}
