{% extends "base.html" %}

{% block head %}
<title>yt - Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search_page.css') }}">

<script defer src="{{url_for('static', filename='scripts/animated_background.js')}}"></script>
<script defer src="{{ url_for('static', filename='scripts/search_box.js') }}"></script>
{% endblock %}

{% block content %}
<canvas class="moving-background"></canvas>

<div class="search-container">
  <h1 class="title">search</h1>
  <div class="search-box">
    <input type="text" id="searchInput" autofocus placeholder="search..">

    <button id="search-button">
      <img src="{{ url_for('static', filename='resources/assets/magnifying-glass-icon.svg') }}"></img>
    </button>
  </div>

 <div class="buttons">
    <a href="">home</a>
  </div>
</div>
{% endblock %}

