{% extends "base.html" %}

{% block head %}
<title>{{ video.title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/video_page.css') }}">
<script defer src="{{ url_for('static', filename='scripts/read_more.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/collapse_comment_replies.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/video_player.js') }}"></script>
{% endblock %}

{% block content %}
{% include "top_bar_template.html" %}
<div class="container">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ video.video_id }}?si=0WWbkz0vjzds1ffl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h1>{{ video.title }}</h1>
    <div class="info">
        <p><a href="{{ url_for('main.channel_overview', channel_id=video.channel_id) }}">{{ video.channel_name }}</a></p>
        <p>{{ video.views }} views</p>
    </div>
    <p class="description read-more">{{ video.description }}</p>

    <div class="comments-section">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment-box">
                <div class="comment" id="{{ comment.comment_id }}">
                    <img src="{{ comment.author_thumbnail_url }}">
                    <span class="comment-author">
                        <a href="{{ url_for('main.channel_overview', channel_id=comment.author_id) }}">{{ comment.author }}</a>
                        {{ comment.time_str }}
                    </span>
                    <p>{{ comment.text }}</p>
                    <div class="comment-info">
                        {% if comment.has_several_likes %}
                            <span>{{ comment.like_count }} likes</span>
                        {% else %}
                            <span>{{ comment.like_count }} like</span>
                        {% endif %}
                    </div>
                </div>

                {% if comment.reply_count > 0 %}
                    <a class="toggle-replies" data-reply-count="{{ comment.reply_count }}"></a>
                {% endif %}

                <div class="replies hidden">
                    {% for reply in comment.replies %}
                        <div class="reply" id="{{ reply.comment_id }}">
                            <img src="{{ reply.author_thumbnail_url }}">
                            <span class="comment-author">
                                <a href="{{ url_for('main.channel_overview', channel_id=reply.author_id) }}">{{ reply.author }}</a>
                                {{ reply.time_str }}
                            </span>
                            <p>{{ reply.text }}</p>
                            <div class="comment-info">
                                {% if reply.has_several_likes %}
                                    <span>{{ reply.like_count }} likes</span>
                                {% else %}
                                    <span>{{ reply.like_count }} like</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
