{% extends "base.html" %}

{% block head %}
<title>{{ video.title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/video_page.css') }}">
<script defer src="{{ url_for('static', filename='scripts/read_more.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/collapse_comment_replies.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/format_links.js') }}"></script>

<script>
    commentData = {{ comment_data|tojson|safe }};
</script>
<script defer src="{{ url_for('static', filename='scripts/fetch_more_comments.js') }}"></script>
{% endblock %}

{% block content %}
{% include "top_bar_template.html" %}
<div class="container">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ video.video_id }}?si=0WWbkz0vjzds1ffl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h1>{{ video.title }}</h1>
    <div class="channel-info">
        <img class=="channel-pic" src="{{ video.channel_pic }}">
        <a href="{{ url_for('main.channel_overview', channel_id=video.channel_id) }}">{{ video.channel_name }}</a>
        <!-- Back end does not allow access to subscription status -->
        {% if false %}
            <button id="subscribe-button" class="subscribed">Subscribed</button>
        {% else %}
            <button id="subscribe-button" class="subscribe">Subscribe</button>
        {% endif %}
    </div>
    <div class="video-info">
        <p>{{ video.views }} views</p>
        <p>{{ video.date_stamp }}</p>
    </div>
    <p class="description read-more">{{ video.description }}</p>

    <div id="comments-section">
        <h2>Comments</h2>
    </div>
    <div class="more-comments-container"><a id="fetchMoreCommentsButton">Show more</a></div>
</div>
{% endblock %}
